<div class="why-superior">
  <!-- <div class="socials">
    <img class="x-img" src="assets/x.png" alt="">
  </div> -->
  <div class="top-container">
    <h1>$Genes began through a clear vision and understanding of what it means to own a good pair of genes. Not just any old pair but the right pair. Sydnney Sweeny was chosen by the matrix to deliver to us the iconic viral jeans commercial. This caused a wave of emotions with many celeberties following up with pictures of theyre own wearing a pair of jeans.</h1>
  </div>
</div>
