.slide-wrapper {
  height: 35vh; /* or any fixed height you want */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* optional: crops any overflow */
}

.img-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slide-img {
  height: 80%;
  width: 100%;
  object-fit: cover; /* optional: use "contain" if you want the whole image visible */
  display: block;
  object-position: center top;
  background-color: black;
  border-radius: 2rem;
  box-shadow: 0 0 10px 2px #F7E7CE;

}
