<div class="navbar-superior">
  <a routerLink="/" class="logo-outer remove-link-style">
    <img class="logo-img" height="80%" src="assets/suslogo.jpeg" />
    <h1>SUS</h1>
  </a>
  <nav class="navbar-outer">
    <ul *ngIf="!smallView" class="navbar-inner remove-link-style">
      <li><a routerLink="/" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="why" routerLinkActive="active-link">Sus</a></li>
    </ul>
    <div *ngIf="smallView" class="navbar-inner">
      <div class="fab-container">
        <button
          mat-fab
          [matMenuTriggerFor]="menu"
          aria-label="Floating menu"
          class="fab-button"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/" routerLinkActive="active-link">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>

          <button mat-menu-item routerLink="why" routerLinkActive="active-link">
            <mat-icon>info</mat-icon>
            <span>About</span>
          </button>
          <!-- <button mat-menu-item>
            <mat-icon>contact_mail</mat-icon>
            <span>Contact</span>
          </button> -->
        </mat-menu>
      </div>
    </div>
  </nav>
</div>
