<!-- <a class="social-link" href="">
      <img class="x-img" src="assets/x.png" alt="">
      <h6>X-OfficIal</h6>
    </a> -->
<div class="landing-superior">
  <div class="socials">
    <a class="social-link" href="https://x.com/SusOfficialCTO">
      <img class="x-img" src="assets/communities.png" alt="" />
      <h6>X-Communities</h6>
    </a>
    <a class="social-link" href="https://t.me/officialSUScto">
      <img class="x-img" src="assets/tel.jpeg" alt="">
      <h6>Telegram</h6>
    </a>
    <a
      class="social-link"
      href="https://dexscreener.com/solana/32jnad7jyqdlcap3kcktx4nwett8p1yc8c2sxfbreuqh"
    >
      <img class="x-img" src="assets/dex.png" alt="" />
      <h6>DEX Screener</h6>
    </a>
  </div>
  <div class="upper-section">
    <div class="blur-container"></div>
    <div class="title-container">
      <h1>$SUS</h1>
      <h3 *ngIf="!smallView">6Hi2PPiqkwYBY2vxbn1oasbTknvsWRZvNL3PjKZnpump</h3>
      <h6 *ngIf="smallView">6Hi2PPiqkwYBY2vxbn1oasbTknvsWRZvNL3PjKZnpump</h6>
    </div>
  </div>
  <div class="lower-section">
    <app-carousel />
  </div>
</div>
