<div class="why-superior">
  <!-- <div class="socials">
    <img class="x-img" src="assets/x.png" alt="">
  </div> -->
  <div class="top-container">
    <h1>Everything is $sus. We all know it. Its not a coincidence. The matrix sent Putin to demonstrate his facial expression to us upon realizing something. Some say it was his reaction to someone asking if he will end the war others say he was in disbelief of the inefient way of conducting a q&a. Some may never know, but we do.</h1>
  </div>
</div>
