<div
  appGlowify
  class="carousel-element"
>
  <div class="img-container">
    <!-- <img class="img-ele" [src]="Item.item.large" alt="" /> -->
    <!-- <img class="img-ele back" [src]="Item.item.large" alt="" /> -->
    <div appGlowify class="img-ele container">
      <div class="cube">
        <div class="face top"> <img class="img-ele" [src]="Item.src" cross-origin="" alt="" /></div>
        <div class="face bottom"> <img class="img-ele" [src]="Item.src" cross-origin="" alt="" /></div>
        <div class="face left"> <img class="img-ele" [src]="Item.src" cross-origin="" alt="" /></div>
        <div class="face right"> <img class="img-ele" [src]="Item.src" cross-origin="" alt="" /></div>
        <div class="face front"> <img class="img-ele" [src]="Item.src" cross-origin="" alt="" /></div>
        <div class="face back"> <img class="img-ele" [src]="Item.src" cross-origin="" alt="" /></div>
      </div>
    </div>
    
    <!-- <div class="crypto-info">
      <h1 class="glow">
        {{ Item.item.symbol }}
      </h1> -->
      <!-- <div>
        <h4>Score | {{ Item.item.score }}</h4>
        <h4>Market Cap Rank | {{ Item.item.market_cap_rank }}</h4>
      </div> -->
    <!-- </div> -->
  </div>
</div>