<!-- <div appGlowify class="carousel-element">
      <div class="cube">
        <div class="face front">
          <img class="img-ele" [src]="Item.src" cross-origin="" alt="" />
        </div>
        <div class="face back">
          <img class="img-ele" [src]="Item.src" cross-origin="" alt="" />
        </div>
        <div class="face left">
          <img class="img-ele" [src]="Item.src" cross-origin="" alt="" />
        </div>
        <div class="face right">
          <img class="img-ele" [src]="Item.src" cross-origin="" alt="" />
        </div>
        <div class="face top">
          <img class="img-ele" [src]="Item.src" cross-origin="" alt="" />
        </div>
        <div class="face bottom">
          <img class="img-ele" [src]="Item.src" cross-origin="" alt="" />
        </div>
      </div>
</div> -->

<div class="carousel-ele">
  <div class="img-containerr">
    <img class="img-ele" [src]="Item.src" cross-origin="" alt="" />
  </div>
</div>
